/************** Start of root component *****************/
:root {
    --bs-blue: #0099FF;
    --bs-green: #6D9F71;
    --bs-red: #EF626C;
    --footer-text-color: #818181;
  }
  /************** End of root component ************/

/******************** Start of Navbar Style  **********************/
.public-nav{
    height: 100px;
  }
  .container{
    max-width: 1200px;
  }
  .brand-logo{
    width: 180px;
    height: 50px;
  }
  .blue-button{
    background: transparent;
    border: 2px solid var(--bs-blue);
    padding: 12px 35px;
    color: var(--bs-blue);
    margin: 0 10px;
    border-radius: 5px;
  }
  .blue-button:hover{
    color: #FFF;
    border: 2px solid var(--bs-blue);
    padding: 12px 35px;
    background: var(--bs-blue);
    margin: 0 10px;
    border-radius: 5px;
  }
  .green-button{
    background: var(--bs-green);
    border:2px solid var(--bs-green);
    padding: 12px 35px;
    color: #FFF;
    margin: 0 10px;
    border-radius: 5px;
  }
  .green-button:hover{
    color: var(--bs-green);
    border: 2px solid var(--bs-green);
    padding: 12px 35px;
    background: transparent;
    margin: 0 10px;
    border-radius: 5px;
  }
  .link{
    color: var(--bs-blue);
  }
  .navbar-nav .nav-link.active{
    color: var(--bs-blue);
    border-bottom: 2px solid var(--bs-red);
  }
  /******************** End of Navbar Style  **********************/